/*---------------------Globle---------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #0F1115;
    color: #f5f5f5;
}

a{
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}
/*--------------------Nav Bar Css--------------------------*/

.nav-bar{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    font-size: 25px;
    color: #E63946;
    letter-spacing: 2px;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-bar ul li a{
    color:#9CA3AF;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: 0.3s;
}

.nav-bar ul li a:hover{
    color: #E63946;
}

/*----------------------Hero Section CSS-------------------------------*/

.hero{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 20px;
}

.heading-sec h1{
    font-size: 52px;
    max-width: 750px;
    line-height: 1.15;
}

.heading-sec p{
    margin-top: 20px;
    color: #9CA3AF;
    font-size: 18px;
}

/*--------Search Box----------*/

.search-box{
    margin-top: 50px;
    width: 100%;
    max-width: 1000px;
    background-color: #181B21;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    align-items: end;
    gap: 15px;
    border: 1px solid #272A31;
}

.input-group{
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
}

.input-group label{
    font-size: 13px;
    color: #9CA3AF;
}

.input-group i{
    color: #E63946;
}

.input-group input{
    width: 100%;
    padding: 13px 15px;
    border-radius: 8px;
    border: 1px solid #30343C;
    background-color: #0F1115;
    color: #F5F5F5;
    outline: none;
}

.input-group input:focus{
    border-color: #E63946;
}

#search-btn{
    height: 45px;
    padding: 0 25px;
    border-radius: 8px;
    background-color: #E63946;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

#search-btn:hover{
    background-color: #B91C1C;
    transform: translateY(-2px);
}

#search-error{
    color: #E63946;
    font-size: 14px;
    margin-top: 10px;
}

/*---------------------------------Search Result----------------------------------*/

#search-result{
    width: 100%;
    margin-top: 25px;
}

.search-result-card{
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 16px;
    background: #1a1d24;
    border: 1px solid #2b303a;
}
.search-result-card h3{
    font-size: 22px;
    margin-bottom: 18px;
}

.search-result-card p{
    margin: 10px 0;
    color: #c9cdd5;
}

.search-result-card i{
    margin-right: 8px;
}

.search-result-card button{
    margin-top: 15px;
    padding: 10px 18px;
    border-radius: 8px;
    background: #ffffff;
    color: #111;
    font-weight: bold;
}






/*-------------------------Popular Routes & feature CSS---------------------------*/

.popular-routes,
.features{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 80px 0;
}

.section-heading{
    text-align: center;
    margin-bottom: 45px;
}

.route-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.route-card{
    background-color: #181B21;
    border: 1px solid #272A31;
    padding: 30px;
    border-radius: 12px;
    transition: 0.3s;
}

.route-card h3{
    font-size: 20px;
}

.route-card p{
    margin: 15px 0;
}

.route-card button{
    padding: 10px 18px;
    background-color: transparent;
    border: 1px solid #E63946;
    border-radius: 7px;
    color: #E63946;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.route-card button:hover{
    background-color: #E63946;
    color: white;
}

.route-card:hover{
    transform: translateY(-6px);
    border-color: #E63946;
}

.feature-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.feature-card{
    background-color: #181B21;
    border: 1px solid #272A31;
    padding: 35px 25px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.feature-icon{
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: rgba(230, 57, 70, 0.1);
    color: #E63946;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.feature-card:hover{
    transform: translateY(-6px);
    border-color: #E63946;
}

/*---------------------------footer css------------------------------*/

footer{
    margin-top: 50px;
    border-top: 1px solid #272A31;
    text-align: center;
    padding: 40px 20px;
}

.footer-container h3{
    color: #E63946;
    font-size: 25px;
}

.footer-container p{
    margin-top: 10px;
    color: #9CA3AF;
}

/*------------------Responsive for small device--------------*/

@media (max-width: 800px){
    .nav-bar{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 20px;
    }

    .nav-bar ul{
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .heading-sec h1{
        font-size: 38px;
    }

    .search-box {
        flex-direction: column;
        align-items: stretch;
    }

    #search-btn{
        justify-content: center;
    }

    .route-container,
    .feature-container{
        grid-template-columns: 1fr;
    }
}


/*------------------------Bus Page------------------------------*/

.bus-search-summary{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 70px 0 30px;
    text-align: center;
}

.bus-search-summary h1{
    font-size: 40px;
}

/*-------------------------Bus Result------------------------*/

.bus-results{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0 80px;
}

/*------------------------Bus List-------------------------*/

#bus-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/*--------------------------Bus Card--------------------------*/

.bus-card{
    background-color: #181B21;
    border: 1px solid #272A31;
    border-radius: 15px;
    padding: 25px;
    transition: 0.3s;
}

.bus-card:hover{
    transform: translateY(-6px);
    border-color: #E63946;
}

/*------------------------Bus Card Header--------------------------*/

.bus-card-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.bus-card-header h3{
    font-size: 21px;
}

.bus-card-header p{
    margin-top: 8px;
    color: #9CA3AF;
}

.bus-card-header i{
    color: #E63946;
    margin-right: 5px;
}

.bus-price{
    color: #E63946;
    font-size: 20px;
    font-weight: bold;
}

/*----------------------------Bus Route-------------------------------*/

.bus-route{
    margin: 25px 0;
    padding: 20px 0;
    border-top: 1px solid #272A31;
    border-bottom: 1px solid #272A31;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.bus-route div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bus-route span,
.bus-time span{
    color: #9CA3AF;
    font-size: 13px;
}

.bus-route strong{
    font-size: 16px;
}

.bus-route > i{
    color: #E63946;
}

/*---------------------------Bus time------------------------------*/

.bus-time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.bus-time div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/*-------------------------------Bus Footer--------------------------*/

.bus-card-footer{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    color: #9CA3AF;
}